<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
  
  <localRepository>/usr/share/maven/ref/repository</localRepository>
  
  <servers>
    <server>
      <id>maven-snapshots</id>
      <username>admin</username>
      <password>p455w0rd</password>
    </server>
    <server>
      <id>maven-releases</id>
      <username>admin</username>
      <password>p455w0rd</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>maven-central</id>
      <name>maven central</name>
      <url>http://localhost:8081/repository/maven-central/</url>
      <mirrorOf>*,!snaps,!rels</mirrorOf>
    </mirror>
    <mirror>
      <id>maven-snapshots</id>
      <name>maven snapshots</name>
      <url>http://localhost:8081/repository/maven-snapshots/</url>
      <mirrorOf>snaps</mirrorOf>
    </mirror>
    <mirror>
      <id>maven-releases</id>
      <name>maven releases</name>
      <url>http://localhost:8081/repository/maven-releases/</url>
      <mirrorOf>rels</mirrorOf>
    </mirror>    
 
  </mirrors>
  
    <profiles>
    <profile>
      <repositories>
        <repository>
          <id>nexus</id>
          <name>Nexus Archive Manager</name>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </snapshots>
          <url>http://localhost:8081/repository/maven-releases/</url>
          <layout>default</layout>
        </repository>
      </repositories>
    </profile>
  </profiles>

</settings>
